#cont1{
    position: relative;
  
    background-color: #1a69c5;
    left: 250px;
    margin-top: 50px;
    right: 10px;
    width: 990px;
    height: 270px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 3px #a4a2a2;
    

}